.home {
  width: 100vw;
}
.home__row {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
  height: 310px;
  object-fit: contain;
  /* border: 1px solid black; */
  z-index: 1;
}

.home__image {
  height: 50vh;
  z-index: -1;
  width: 100%;
  object-fit: fill;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
